<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SubmitDataServlet</servlet-name>
        <servlet-class>storeData.SubmitDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitDataServlet</servlet-name>
        <url-pattern>/SubmitDataServlet</url-pattern>
    </servlet-mapping>
    <dependency>
    <groupId>mysql</groupId>
    <artifactId>mysql-connector-java</artifactId>
    <version>8.0.x</version> <!-- Use the latest version available -->
</dependency>

    
</web-app>
